<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>importData</servlet-name>
    <servlet-class>gvbd.servlet.importData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>proData</servlet-name>
    <servlet-class>gvbd.servlet.proData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>postData</servlet-name>
    <servlet-class>gvbd.servlet.postData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getAlreadyData</servlet-name>
    <servlet-class>gvbd.servlet.getAlreadyData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getJsonData</servlet-name>
    <servlet-class>gvbd.servlet.getJsonData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>kmeans</servlet-name>
    <servlet-class>gvbd.servlet.kmeans</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>importData</servlet-name>
    <url-pattern>/servlet/importData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>proData</servlet-name>
    <url-pattern>/servlet/proData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postData</servlet-name>
    <url-pattern>/servlet/postData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getAlreadyData</servlet-name>
    <url-pattern>/servlet/getAlreadyData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getJsonData</servlet-name>
    <url-pattern>/servlet/getJsonData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kmeans</servlet-name>
    <url-pattern>/servlet/kmeans</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>